<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-back-button slot="start"><ion-icon name="ion-back-button"></ion-icon></ion-back-button> -->
    <ion-title>Registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="icon" src="assets/login-hero.svg" alt="">
    <ion-item>
      <ion-label position="floating" >Nombre</ion-label>
      <ion-input type="text"
                 name="name"
                 [(ngModel)]="name"
                 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Apellido</ion-label>
      <ion-input type="text"
                 [(ngModel)]="lastname"
                 name="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime display-format="DD MMM YYYY"
                    [(ngModel)]="date"
                    cancelText="Cancelar"
                    doneText="Escoger"
                    placeholder="Selecciona una fecha"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Correo electrónico</ion-label>
      <ion-input type="email"
                 name="email"
                 [(ngModel)]="email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Contraseña</ion-label>
      <ion-input type="password"
                 name="password"
                 [(ngModel)]="password"
                 minlength="6"
                 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Confirmar Contraseña</ion-label>
      <ion-input type="password"
                 name="password"
                 [(ngModel)]="cPassword"
                 minlength="6"
                 required></ion-input>
    </ion-item>
  <div class="ion-text-center ion-margin-top">
    <ion-button expand="block"
                color="primary"
                type="submit"
                shape="round"
                (click)="onSubmitRegister()"
                #submitButton
                >{{ status }}</ion-button>
  </div>
  <div class="ion-margin-top">
    <ion-button expand="block"
                color="primary"
                type="submit"
                fill="clear"
                shape="round"
                routerLink="/login"
                >Ya tengo cuenta</ion-button>
  </div>

</ion-content>
